<div class="portlet">
  <div class="portlet-title">
    <div class="caption">
      <span class="caption-subject text-uppercase"> {{articleinReviewDetailsData.articleTitle}}</span>
      <span class="caption-subject-right text-uppercase"> [{{articleinReviewDetailsData.StateName}}]</span>
    </div>
  </div>
  <div class="subportlet-title">
    <span class="subCaption-subject">
      <b>posted on </b> &nbsp;{{articleinReviewDetailsData.dateCreated}} &nbsp;&nbsp;
      <b>by </b> &nbsp;{{articleinReviewDetailsData.author_name}}</span>
    <span class="subCaption-subject-right">
      <b> in review with </b> &nbsp;{{articleinReviewDetailsData.approver_name}}</span>
  </div>

  <div class="portlet-body bodySize">
    <div class="col-md-4 author">
      <p>
        <b>Category</b> {{articleinReviewDetailsData.parent_category}}</p>
    </div>
    <div class="col-md-4 author">
      <p>
        <b>Sub-Category</b> {{articleinReviewDetailsData.categoryName}}</p>
    </div>
    <div class="col-md-12 author" *ngIf="articleinReviewDetailsData?.articleTag">
      <p>
        <b>Article Tags</b>&nbsp;{{articleinReviewDetailsData.articleTag}}</p>
    </div>
    <div class="col-md-11 author">
      <p>
        <b>Description</b>&nbsp;{{articleinReviewDetailsData.articleDesc}}</p>
    </div>
    <div class="col-md-12 author" *ngIf="articleinReviewDetailsData?.articlePath">
      <b>Attachments</b>&nbsp;
      <a target="_blank" href={{articleinReviewDetailsData.articlePath}}> {{articleinReviewDetailsData.articlePath}} </a>
    </div>
    <div class="col-md-10 author" *ngIf="articleinReviewDetailsData?.articleContent">
      {{articleinReviewDetailsData.articleContent}}
    </div>
    <div class="col-md-10 author" *ngIf="buttonCondition == 'true'">
       <button class="btn" (click)='Approve()'> Approve </button> 
     </div>
  </div>
</div>