<div>
<nav class="navbar">   
        <div class="col-md-12">
        <img src="./assets/images/loginCDT.png" class="img-responsive" id="loginNAV">
        </div>
</nav>
</div>
<section class="row" id="top-banner">
    <div class="col-md-2" id="logo-container">
        <img src="./assets/images/CDTlogo.png" class="img-responsive" id="cdt-logo">
    </div>
    <div class="col-md-6">
    </div>
    <div class="col-md-4"> <form method="post" name="login">
       
            <label for="loginbox_username">Username 
                <input id="loginbox_username" maxlength="64" size="10" type="text" name="username" value="" class="text username" [(ngModel)] = "userFirstName" #name="ngModel" />
            </label> &nbsp;&nbsp;
            <label for="loginbox_password">Password
                <input id="loginbox_password" maxlength="32" size="10" type="password" name="password" value="" class="text password" [(ngModel)] = "value.pwd" #pwd="ngModel" />
            </label> &nbsp;&nbsp;
                <input type="submit" name="login" value="Login" class="btn btn-primary" (click)="onLoginClick()" />           
            <input type="hidden" name="islogin" value="1" />            
        </form>
    </div>    
</section>
<section class="row">
    <div class="row">
    <div class="col-md-12">
        <img class="img-responsive" src="./assets/images/sfo-banner.jpg">
    </div>
    </div>
</section>
<section class="row">
    <div class="row">
    <div class="col-md-12">
        <img class="img-responsive" src="./assets/images/Middle Pane1.png">
    </div>
    </div>
</section>
<section class="row">
    <div class="row">
    <div class="col-md-12">
        <img class="img-responsive" src="./assets/images/bottompane1.png">
    </div>
    </div>
</section>

<div class="container-fluid" id="copyrightInfo">
    <div class="row">
        <div class="col-md-12">Copyright &copy; 2018 State of California. All rights reserved.</div>
    </div>
</div>