<style type="text/css">
    #watermark p {
        /* color: #FF0000; */
        color: #777;
        font-size: 65pt;
        -webkit-transform: rotate(-35deg);
        -moz-transform: rotate(-35deg);
        position: absolute;
        width: 50%;
        height: 50%;
        margin: 0;
        z-index: 1;
        left: 900px;
        down: -200px;
        display: inline;
        /* opacity: 1; */
    }
</style>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#inverseNavbar1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">xFusionTech Logo</a>
            </div>
        </div>
    </nav>
    <section class="row" id="top-banner">
        <div class="col-sm-2 col-md-2 col-lg-offset-1 col-xs-offset-2 col-xs-8 col-sm-offset-0" id="logo-container">
            <img src="./assets/images/dot.jpeg" alt="DOT logo" class="img-responsive" id="agency-logo">
            <span class="hidden-md hidden-sm" id="agency-name">CA Department of Technology</span>
        </div>
        <div class=" col-lg-8 col-md-10 col-sm-10" id="countyBanner">
            <img src="./assets/images/sac-banner.jpg" class="img-responsive hidden-xs" alt="Sacramento">
        </div>
    </section>

    <div class="row" ng-controller="loginController as c">
        <div class="col-md-6" id="loginRegion">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-8">
                    <h2>Login</h2>




                    
                    <form name="loginform" novalidate autocomplete="off">
                        <!-- <div class="form-group">
                            <label for="userrole">User Role:</label>
                            <select class="form-control" id="userrole" name="UserRole" [(ngModel)]="roleName" app-Required="race">
                                <option value="">-- Choose One --</option>
                                <option [(ngValue)]="r.lkpRoleID" *ngFor="let r of rolesArray">{{r.roleName}}</option>
                            </select>

                        </div> -->
                        <div class="form-group">
                            <!--<label for="username">User Name</label>
                          <input type="email" class="form-control input-lg" id="username">-->

                            <label for="username">User Name</label>
                            <input size="160" type="text" class="form-control " name="username" required [(ngModel)]="userFirstName" />
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control input-lg" name="password" required [(ngModel)]="value.pwd" />
                        </div>
                        <div class="form-group" style="text-align:left">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="rememberme" /> Remember Me
                                </label>
                            </div>
                        </div>
                        <!-- <div class="form-group text-warning" >
                          Incorrect username or password.
                      </div> -->
                        <div class="form-group" style="text-align:left">
                            <!-- <input type="submit" class="btn btn-primary btn-lg" value="Log In" onLoginClick()/> -->
                            <button class="btn btn-primary" (click)="onLoginClick()">
                                Log In
                            </button>
                        </div>
                        <router-outlet></router-outlet>
                    </form>
                </div>
            </div>
        </div>


        <!--SignUp-->


        <div id="watermark">
            <p>Coming Soon</p>
            <div class="col-md-6" id="signupRegion">
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-8">
                        <h2>Sign Up </h2>
                        <form name="registerform" novalidate autocomplete="off">
                            <div class="form-group">
                                <label for="username">First Name</label>
                                <input type="text" class="form-control input-lg" name="firstname" required />
                                <!-- <span class="text-danger" ng-show="c.rsubmitted && registerform.firstname.$error.required">Please enter a firstname.</span> -->
                            </div>
                            <div class="form-group">
                                <label for="password">Last Name</label>

                                <input type="text" class="form-control input-lg" name="lastname" required />
                                <!-- <span class="text-danger" ng-show="c.rsubmitted && registerform.lastname.$error.required">Please enter a lastname.</span> -->

                            </div>


                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control input-lg" name="pemail" required />
                                <!-- 
                                
                                <span class="text-danger" ng-show="c.rsubmitted && registerform.$invalid && c.emailRequired">Please enter a valid email.</span>
                                <span class="text-danger" ng-show="c.emailTaken">Email address already registered.</span> -->

                            </div>
                            <div class="form-group" style="text-align:center">
                                <input type="submit" class="btn btn-primary btn-lg" value="Sign Up" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--- Footer -->
    <footer class="container-fluid" id="footer">
        <div class="row" id="footerNav">
            <div class="col-sm-4 col-lg-3 col-lg-offset-1">
                <h4>Request a Service</h4>
                <ul>
                    <li>
                        <a href="#">Submit a Service Request</a>
                    </li>
                    <li>
                        <a href="#"> Report an Incident</a>
                    </li>
                    <li>
                        <a href="#">Technology Services</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4 col-lg-4 col-lg-offset-1">
                <h4>Information Security</h4>
                <ul>
                    <li>
                        <a href="#">Security Awareness</a>
                    </li>
                    <li>
                        <a href="#"> Risk Management</a>
                    </li>
                    <li>
                        <a href="#"> Recovery Management</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4 col-lg-3">
                <h4>Support</h4>
                <ul>
                    <li>
                        <a href="#">Find your Account Lead</a>
                    </li>
                    <li>
                        <a href="#">Online Contact Form</a>
                    </li>
                    <li>
                        <a href="#">Frequently Asked Questions</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- </div> -->

    </footer>
    <div class="container-fluid" id="copyrightInfo">
        <div class="row">
            <div class="col-sm-12">Copyright &copy; 2018 xFusionTech Systems. All rights reserved.</div>
        </div>
    </div>