a{
    cursor: default;
}

/* .btn{
    margin-top: 10px;
} */

.myIcon{
    float: right;
}

.icon{
    float: right;
    margin-top: 5px; 
    margin-right: 5px;
}
 .countyBanner
 {
     padding-right:80px;
     padding-left:80px;
     align-content: center;
 }
 .container-fluid {
     height: 2%;
}