<div class="col-md-12">
  <h2>Search Article</h2>
  <div class="input-group input-group-lg">
    <input type="text" class="form-control" placeholder="Search..." aria-describedby="search-article">
    <span class="input-group-addon" id="search-article">
      <span class="glyphicon glyphicon-search"></span>
    </span>
  </div>
</div>
<div class="col-md-12">
  <h5>Advanced Search</h5>
  <div class="row">
    <div class="col-md-5">
      <form class="form-inline" id="advance-search-g1">
        <div class="form-group">
          <label>Searvice</label>
          <select class="form-control">
            <option>Professional</option>
            <option>Infrastructure and Platform</option>
            <option>Software</option>
            <option>Cloud Based</option>
            <option>Network and Telecom</option>
            <option>Email and Mobile</option>
          </select>
        </div>
        <div class="form-group">
          <label>Category</label>
          <select class="form-control">
            <option>Manager Pro</option>
            <option>Form Processor</option>
            <option>Form Maker</option>
            <option>Web Calendar</option>
            <option>Reference</option>
          </select>
        </div>
        <div class="form-group">
          <label>Author</label>
          <select class="form-control">
            <option>Stephen Johnson</option>
            <option>Nancy Williams</option>
            <option>Sophia Jones</option>
            <option>Jackson Brown</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col-md-7">
      <form class="form-inline" id="advance-search-g2">

        <div class="form-group">
          <label for="startDate">Date Range</label>
          <input id="startDate" name="startDate" type="text" class="form-control" /> &nbsp;
          <input id="endDate" name="endDate" type="text" class="form-control" />
        </div>

        <div class="form-group">
          <label>Status</label>
          <div class="checkbox">
            <input type="checkbox" value="">Published &nbsp;
            <input type="checkbox" value="">Unpublished &nbsp;
            <input type="checkbox" value="">Draft &nbsp;
            <input type="checkbox" value="">Pending
          </div>
        </div>

        <div class="form-group">
          <label>Access</label>
          <div class="checkbox">
            <input type="checkbox" value="">Public &nbsp;
            <input type="checkbox" value="">Restricted &nbsp;
          </div>
        </div>

      </form>
    </div>
  </div>
</div>