<div class="col-md-14">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <form class="form-inline" id="advance-search-g1">
            <div class="col-md-4">
              <div class="form-group">
                <label>Category</label>
                <select name="Category" class="form-control" [(ngModel)]="searchForm.Category">
                  <option [(ngValue)]="0" >Choose one</option>
                  <option [(ngValue)]="d.categoryID" *ngFor="let d of data">{{d.categoryName}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Author</label>
                <select name="Author" class="form-control" [(ngModel)]="searchForm.Author">
                  <option [(ngValue)]="0" >Choose one</option>
                  <option [(ngValue)]="a.userID" *ngFor="let a of authorData">{{a.author_name}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-append">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="searchForm.startDate" ngbDatepicker #d="ngbDatepicker">
                    <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                      <span class="fa fa-calendar" style="vertical-align: middle"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-1">
              <div class="form-group">
                <button class="btn btn-primary " (click)="SearchData()"><span class="fa fa-search"></span></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showSearchForm">
  <br/>
  <table *ngIf="hideSearchForm" class="table table-condensed serachResults">
    <thead>
    <tr>
      <th>Title</th>
      <th>Date Created</th>
      <!-- <th>Viewed</th>
        <th>Rated</th> -->
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let s of searchData">

      <td>{{s.articleTitle}}</td>
      <td>{{s.dateCreated}}</td>
      <td>
        <a>
          <span class="glyphicon glyphicon-eye-open" (click)="getArticleDetail(s.articleID)" aria-hidden="true"></span>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="col-md-7" *ngIf="showErrorMessage">
  <h4>No Articles found</h4>
</div>
