<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#inverseNavbar1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">xFusionTech Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="inverseNavbar1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">

          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello: {{userName}} </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">My Profile</a>
            </li>
            <li>
              <a href="#">Change Password</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="#">Log Out</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="col-md-12" >
  <div class="portlet">
    <div class="portlet-title">
      <div class="caption">
        <!-- <span class="caption-subject text-uppercase"> {{s.articleTitle}}</span> -->
        <span class="caption-subject text-uppercase"> {{articleDetailsData.articleTitle}}</span>
      </div>
    </div>
    <div class="portlet-body bodySize">
      <div class="col-md-12 author">
        <p>
          <b>Category:</b> {{articleDetailsData.parent_category}}</p>
      </div>
      <div class="col-md-12 author">
        <p>
          <b>Sub-Category:</b> {{articleDetailsData.categoryName}}</p>
      </div>
      <div class="col-md-12 author">
        <p>
          <b>Author:</b> {{articleDetailsData.author_name}}</p>
      </div>
      <div class="col-md-12 author">
        <p>
          <b>Article State:</b> {{articleDetailsData.StateName}}</p>
      </div>
      <div class="col-md-12 author">
        <p>
          <b>Approved By:</b> {{articleDetailsData.approver_name}}</p>
      </div>
      <div class="col-md-12 author">
        <p>
          <b>Article last modified date:</b> {{articleDetailsData.articleLastModifiedDate}}</p>
      </div>
      <div class="col-md-12 author">
        <p>
          <b>Article Tags:</b> {{articleDetailsData.articleTag}}</p>
      </div>
      <div class="col-md-12 author">
        <p>
          <b>Article Description:</b> {{articleDetailsData.articleDesc}}</p>
      </div>
      <div class="col-md-10 author">
        <p>
          <b>Article Content:</b> {{articleDetailsData.articleContent}}</p>
      </div>
      <div  [routerLink]="['articleFeedback']" *ngIf="articleDetailsData.StateName === 'PUBLISHED'">                       
        <app-article-feedback></app-article-feedback>
 </div>

      <!-- <div class="col-md-4">
        <p>
          <b>Date Created:</b> {{s.dateCreated}}</p>
      </div> -->
      <!-- <div class="col-md-10 author">
        <p>
          <b>Article Description:</b> {{s.articleDesc}}</p>
        <p>
          <b>Article Content:</b>
          <br/>{{s.articleContent}}</p>
      </div> -->
    </div>
  </div>
</div>