<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#inverseNavbar1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">xFusionTech Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="inverseNavbar1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">

          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello: {{userName}} </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">My Profile</a>
            </li>
            <li>
              <a href="#">Change Password</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="#">Log Out</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="col-md-12">
  <div class="portlet">
    <div class="portlet-title">
      <div class="caption">
        <!-- <span class="caption-subject text-uppercase"> {{s.articleTitle}}</span> -->
        <span class="caption-subject text-uppercase"> {{articleDetailsData.articleTitle}}</span>
      </div>
      <div class="form-group" id="buttons">
        <a class="fa fa-home fa-2x myIcon" (click)="onbackToHome()"></a>
      </div>
    </div>
    <div class="portlet-body bodySize">
      <div class="col-md-12 author">
        <p>
          <b>Category</b> {{articleDetailsData.parent_category}}</p>
      </div>
      <div class="col-md-12 author">
        <p>
          <b>Sub-Category</b> {{articleDetailsData.categoryName}}</p>
      </div>
      <div class="col-md-12 author">
        <p>
          <b>Created by</b> {{articleDetailsData.author_name}}</p>
      </div>
      <div class="col-md-12 author">
        <p>
          <b>Approved By</b> {{articleDetailsData.approver_name}}</p>
      </div>
      <div class="col-md-12 author">
        <p>
          <b>Created on</b> {{articleDetailsData.dateCreated}}</p>
      </div>
      <div class="col-md-12 author">
        <p>
          <b>Modified on</b> {{articleDetailsData.articleLastModifiedDate}}</p>
      </div>
      <div class="col-md-12 author">
        <p>
          <b>Article State</b> {{articleDetailsData.StateName}}</p>
      </div>
      <div class="col-md-12 author">
        <b>Article Title</b> {{articleDetailsData.articleTitle}}
      </div>
      <div class="col-md-12 author" *ngIf="articleinReviewDetailsData?.articleTag" >
        <p>
          <b>Article Tags</b> {{articleDetailsData.articleTag}}</p>
      </div>
      <div class="col-md-12 author">
        <p>
          <b>Article Description:</b> {{articleDetailsData.articleDesc}}</p>
      </div>
      <div class="col-md-12 author" *ngIf="articleinReviewDetailsData?.articlePath">
        <label>Article Path</label>&nbsp;&nbsp; <a target="_blank" href={{articleinReviewDetailsData.articlePath}}> {{articleinReviewDetailsData.articlePath}} </a>
      </div>
      <div class="col-md-10 author" *ngIf="articleinReviewDetailsData?.articleContent">
        <p>
          <b>Article Content</b> {{articleDetailsData.articleContent}}</p>
      </div>

      <div [routerLink]="['articleFeedback']" *ngIf="articleDetailsData.StateName === 'PUBLISHED'">
        <app-article-feedback></app-article-feedback>
      </div>      
    </div>
  </div>
</div>