<div class="portlet">
  <div class="portlet-title">
    <div class="caption">
      <span class="caption-subject text-uppercase"> {{articleDetailsData.articleTitle}}</span>
      <span class="caption-subject-right text-uppercase"> [{{articleDetailsData.StateName}}]</span>
    </div>
  </div>
  <div class="subportlet-title">
    <span class="subCaption-subject">
      <b>posted on </b> &nbsp;{{articleDetailsData.dateCreated}} &nbsp;&nbsp;
      <b>by </b> &nbsp;{{articleDetailsData.author_name}}</span>
    <span class="subCaption-subject-right">
      <b> approved by </b> &nbsp;{{articleDetailsData.approver_name}}</span>
  </div>

  <div class="portlet-body bodySize">
    <div class="col-md-4 author">
      <p>
        <b>Category</b> {{articleDetailsData.parent_category}}</p>
    </div>
    <div class="col-md-4 author">
      <p>
        <b>Sub-Category</b> {{articleDetailsData.categoryName}}</p>
    </div>
    <div class="col-md-12 author" *ngIf="articleDetailsData?.articleTag">
      <p>
        <b>Article Tags</b>&nbsp;{{articleDetailsData.articleTag}}</p>
    </div>
    <div class="col-md-11 author">
      <p>
        <b>Description</b>&nbsp;{{articleDetailsData.articleDesc}}</p>
    </div>
    <div class="col-md-12 author" *ngIf="articleDetailsData?.articlePath">
      <b>Attachments</b>&nbsp;
      <a target="_blank" href={{articleDetailsData.articlePath}}> {{articleDetailsData.articlePath}} </a>
    </div>
    <div class="col-md-10 author" *ngIf="articleDetailsData?.articleContent">
      {{articleDetailsData.articleContent}}
    </div>
    
    <form #f="ngForm" >
    <div class="row">
      <div class="col-md-12 author" style="padding-bottom:20px">        
        <div class="row author" style="padding-bottom:20px">
        </div>
        
        <div class="col-md-8 author">
          <ngb-rating [(rate)]="currentRate" max=5></ngb-rating>
          <textarea class="form-control" required ngModel #commentText id="commentText" placeholder='Rate and leave a comment/question...' rows="2" name="txtFormQues" style="width:100%" [(ngModel)]="txtFeedbck"></textarea>
        </div>
        <div *ngIf="commentText.errors?.required" class="error">
                comment is required
        </div>
        <div class="col-md-2 author" style="padding-top:20px">
          <button class="btn btn-primary" (click)='OnFeedbackPost()' id="buttons" [disabled] = "!f.valid"> Rate and Comment</button>
        </div>
        
      </div>
    </div>
    </form>

    <div class="row author">
      <div class="col-md-12 author">
        <div *ngFor="let d of articleDetailsFeedbacks" class="commentportlet-title">
          <table id="bottomMargin">
            <tbody>
              <tr>
                <td *ngIf="d.rating === '5'">
                  <span class="glyphicon glyphicon-star"  aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </td>
                <td *ngIf="d.rating === '4'">
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                </td>

                <td *ngIf="d.rating === '3'">
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                </td>

                <td *ngIf="d.rating === '2'">
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                </td>

                <td *ngIf="d.rating === '1'">
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                </td>
              </tr>
              <tr>
                <td>
                  <span>Commented by &nbsp; {{d.commented_by}}</span>
                </td>
              </tr>
              <tr>
                <td>
                  {{d.comment}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <!--<div [routerLink]="['articleFeedback']" *ngIf="articleDetailsData.StateName === 'PUBLISHED'">
        <app-article-feedback></app-article-feedback>
      </div>      -->

  </div>