<script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
<div class="portlet">
  <div class="portlet-title">
    <div class="caption">
      <h4 class="caption-subject text-uppercase">
        Create New Article
      </h4>
    </div>
  </div>
  <div class="row">
    <span *ngIf="validationError===true" class="validationError">Article category, sub-category and title mandatory</span>
    <div class="row">
        <br/>
      </div>
    <div class="portlet-body bodySize">
      <div class="row">
        <div class="col-md-5 author">
          <form class="form-inline">
            <select name="category" placeholder="Select a Category" class="form-control" [(ngModel)]="categoryName">
            <option selected="selected">Select a Category</option>
            <option *ngFor="let d of data">{{d.categoryName}}</option>
          </select>
          </form>
        </div>
        <div class="col-md-5 author">
          <form class="form-inline">
            <select name="SubCategoryName" class="form-control" [(ngModel)]="SubCategoryName">
            <option value="">Select a SubCategory</option>
            <option [(ngValue)]="s.categoryID" *ngFor="let s of subData">{{s.categoryName}}</option>
          </select>
          </form>
        </div>
      </div>
      <div class="row">
        <br/>
      </div>
      <div class="row">
        <div class="col-md-12 author">
          <!-- <label>Article Title:</label> -->
          <input placeholder="Article Title" name="article" type="text" class="form-control" style="width:100%" [(ngModel)]="article_title"
          />
        </div>
      </div>
      <div class="row">
        <br/>
      </div>
      <div class="row">
        <div class="col-md-12 author">
          <span></span>
          <textarea placeholder="Summary" name="articleContent" type="text" id="texteditor1" class="form-control" style="width:100%"
            rows="2" [(ngModel)]="article_desc"></textarea>
        </div>
      </div>
      <div class="row">
        <br/>
      </div>
      <div class="row">
        <div class="col-md-12 author">
          <app-ngx-editor minHeight="200px" height="100%" width="100%" [placeholder]="'Enter text here...'" [spellcheck]="true" [(ngModel)]="article_content" id="texteditor"></app-ngx-editor>
        </div>
      </div>
      <div class="row">
        <br/>
      </div>       
      <div class="row">
      <div class="col-md-5 author ">
        <div class="input-group">
          <input placeholder="Add Tags" name="article_tag" id="articleInputTags" name="articleTags" type="text" class="form-control">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit" (click)="createArticleInputTag('')">
                  <i class="glyphicon glyphicon-plus"></i>
                </button>
          </div>
        </div>
      </div>
      </div>
      

        <!-- <button class="button" (click)="createArticleInputTag('')">Add</button> -->
         <!--<a (click)="createArticleInputTag('')">
          <span id="addIcon" class="fa fa-plus-circle fa-2x myIcon" aria-hidden="true" title="Add Article"></span>
        </a> -->
        <div class="row">
        <div class="form-group">
          <div>
            <div class="">

              <div>
                <a class="badge badge-secondary" id='inputTag1'></a>
                <a class="badge badge-secondary" id='inputTag2'></a>
                <a class="badge badge-secondary" id='inputTag3'></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <br/>
      </div>
       <!--<div class="col-md-10 author">
        <p>
          <b>Article Tags:</b> {{articleDetailsData.articleTag}}</p>
      </div> -->
<div class="row">
      <div class="col-md-6 author form-inline">
        <div class="form-group">
          <label for="uploadFile">Attachments </label>
          <div id="igUpload1"></div>
          <!-- <a  (change)="uploadFile($event)">
              <span  class="fa fa-upload fa-2x" aria-hidden="true" title="Upload File"></span>
          </a> -->
          <input id="uploadBtn0" type="file" name="file" class="upload" (change)="uploadFile($event)" />
          <label for="uploadFile" *ngIf="uploadStatus == 'true'">File Uploaded successfully</label>
          <label for="uploadFile" *ngIf="uploadStatus == 'false'">Error uploading File</label>
        </div>
      </div>

<div class="col-md-4" style="float:right">
      <div class="form-group"  id="buttons">
         <button class="btn btn-lg" style="float:right" (click)='insertArticleData()'> Save </button>
        <!--<input type="submit" class="btn" value="Save" (click)="insertArticleData()" />-->
      </div>
  </div> 
  </div>  
  </div>
</div>