<div class="portlet">
  <div class="portlet-title">
    <div class="caption">
      <span class="caption-subject text-uppercase"> {{articleDetailsinDraftData.articleTitle}}</span>
      <span class="caption-subject-right text-uppercase"> [{{articleDetailsinDraftData.StateName}}]</span>
    </div>
  </div>
  <div class="subportlet-title">
    <span class="subCaption-subject">
      <b>posted on </b> &nbsp;{{articleDetailsinDraftData.dateCreated}} &nbsp;&nbsp;
      <b>by </b> &nbsp;{{articleDetailsinDraftData.author_name}}</span>
    <span class="subCaption-subject-right">
      <b> Approver </b> &nbsp;{{articleDetailsinDraftData.approver_name}}</span>
  </div>

  <div class="portlet-body bodySize">
    <div class="col-md-4 author">
      <p>
        <b>Category</b> {{articleDetailsinDraftData.parent_category}}</p>
    </div>
    <div class="col-md-4 author">
      <p>
        <b>Sub-Category</b> {{articleDetailsinDraftData.categoryName}}</p>
    </div>
    <div class="col-md-12 author" *ngIf="articleDetailsinDraftData?.articleTag">
      <p>
        <b>Article Tags</b>&nbsp;{{articleDetailsinDraftData.articleTag}}</p>
    </div>
    <div class="col-md-11 author">
      <b>Summary</b>&nbsp;
      <textarea name="articleDesc" style="width: 100%; height: 50px; border:solid 1px lightgrey" rows="2" [(ngModel)]="articleDetailsinDraftData.articleDesc"></textarea>
    </div>
    <div class="col-md-12 author" *ngIf="articleDetailsinDraftData?.articlePath">
      <b>Attachments</b>&nbsp;
      <a target="_blank" href="https://kmtweb.s3.us-west-1.amazonaws.com/{{articleDetailsinDraftData.articlePath}}"> {{articleDetailsinDraftData.articlePath}} </a>
    </div>
    <div class="col-md-11 author" *ngIf="articleDetailsinDraftData?.articleContent">
      <b>Content</b>&nbsp;
      <textarea name="articleContent" style="width: 100%; height: 50px; border:solid 1px lightgrey" rows="7" data-role="collapsible"
        [(ngModel)]="articleDetailsinDraftData.articleContent"></textarea>
    </div>
    <div class="col-md-9 author" id="buttons">
      <!--<input type="button" class="btn btn-primary btn-lg" id="backbutton" value="Back" (click)="onbackToHome()" />-->
      <input type="submit" class="btn" (click)='SaveArticleChanges()' value="Save" />
      <!--<span class="fa fa-save fa-2x myIcon" (click)='SaveArticleChanges()'></span>-->
      <input type="submit" class="btn" value="Submit" (click)='SubmitForApproval()' />
    </div>
  </div>
</div>