<div class="container-fluid">
  <div class="row">
    <div id="tabContent2" class="tab-content">
      <div class='center'>
        <div class="col-md-12">
          <div class="row">

            <!--<div class="form-group">
              <label>Service</label>&nbsp;&nbsp;{{articleDetailsinDraftData.parent_category}}
            </div>
            <div class="form-group">
              <label>Category</label> &nbsp;&nbsp; {{articleDetailsinDraftData.categoryName}}
            </div>
            <div class="form-group">
              <label>Author</label> &nbsp;&nbsp; {{articleDetailsinDraftData.author_name}}
            </div>
            <div class="form-group">
              <label>Article State</label> &nbsp;&nbsp; {{articleDetailsinDraftData.StateName}}
            </div>
            <div class="form-group">
              <label>Approver</label> &nbsp;&nbsp;{{articleDetailsinDraftData.approver_name}}
            </div>
            <div class="form-group">
              <label>Article last modified date</label> &nbsp;&nbsp;{{articleDetailsinDraftData.articleLastModifiedDate}}
            </div>
            <div class="form-group">
              <label>Article Tags</label> &nbsp;&nbsp;{{articleDetailsinDraftData.articleTag}}
            </div>
            <div class="form-group">
              <label>Article Description</label> &nbsp;&nbsp;{{articleDetailsinDraftData.articleDesc}}
            </div>-->
            <div class="form-group">               
              <label>Article Content</label> &nbsp;&nbsp;
              <textarea name="articleSummary" class="form-control" rows="4" data-role="collapsible" [(ngModel)]="articleDetailsinDraftData.articleContent"></textarea>             
            </div>

             <div id="tagpadding"></div>
                           <div class="form-group">
                            <label>Article Summary</label>
                            <!--<input id="articleContent" name="articleContent" type="textarea" class="form-control" />-->
                            <textarea name="articleContent" class="form-control" rows="2" data-role="collapsible" [(ngModel)]="article_desc"></textarea>
                          </div>
                          <div id="tagpadding"> </div>

                          
            <div class="form-group">
              <button class='btn' (click) = 'saveChanges()'> Save changes </button>
            </div>
          </div>          
        </div>
        <div class="form-group">
              <button class='btn' (click) = 'Submit()'> Submit for approval</button>
            </div>
      </div>
    </div>
  </div>
</div>