<div *ngFor="let d of articleDetailsFeedbacks">
  <table id="bottomMargin">
    <tbody>
      <tr>
        <td *ngIf="d.rating === '5'">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        </td>
        <td *ngIf="d.rating === '4'">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
        </td>

        <td *ngIf="d.rating === '3'">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
        </td>

        <td *ngIf="d.rating === '2'">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
        </td>

        <td *ngIf="d.rating === '1'">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
        </td>
      </tr>
      <tr>
        <td>
          <label>Commented by &nbsp;</label> <span>{{d.commented_by}}</span>
        </td>
      </tr>
      <tr>
        <td>
          {{d.comment}}
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  <div>
              <label>Comments-Questions</label> <br/>
              <input type="textarea" class="form-control input-lg" name="txtFormQues" [(ngModel)]="txtFeedbck" /> 
              <button class='btn' (click) = 'OnFeedbackPost()'> Post</button>                           
  </div>
