    
     <div class="portlet-body bodySize" id="accordion3" >
          <label>Comments-Questions</label>
          <textarea  class="form-control" rows="4" data-role="collapsible" name="txtFormQues" [(ngModel)]="txtFeedbck"></textarea>
     </div>
     <div id="tagpadding">
          <button class="btn btn-primary btn-lg" (click) = 'OnFeedbackPost()' id="buttons"> Post</button>                       
      </div>
     
    
    
     <div *ngFor="let d of articleDetailsFeedbacks">
    <table id="bottomMargin">
      <tbody>
        <tr>
          <td *ngIf="d.rating === '5'">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          </td>
          <td *ngIf="d.rating === '4'">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          </td>
  
          <td *ngIf="d.rating === '3'">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          </td>
  
          <td *ngIf="d.rating === '2'">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          </td>
  
          <td *ngIf="d.rating === '1'">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          </td>
        </tr>
        <tr>
          <td>
            <span>Commented by &nbsp; {{d.commented_by}}</span>
          </td>
        </tr>
        <tr>
          <td>
            {{d.comment}}
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  
 
    
   
 