
       
          <div class="row">
            <div class="col-md-4 col-lg-12 container">
              <div class="panel-group" >
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">                      
                        Most Popular Tags                      
                    </h4>
                  </div>
                  <div id="popularTags" class="panel-collapse collapse in">
                    <div  *ngFor= "let d of data">    
                       <a class="badge badge-secondary" (click)="takeToSearch(d.articleTag)">{{d.articleTag}}</a>                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
     
