
       
          <div class="row">
            <div class="col-md-4 col-lg-12 container">
              <div class="panel-group" id="accordion3">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#popularTags">
                        Most Popular Tags
                      </a>
                    </h4>
                  </div>
                  <div id="popularTags" class="panel-collapse collapse in">
                    <div  *ngFor= "let d of data">    
                       <a href="#" class="badge badge-secondary">{{d.articleTag}}</a>
                      <!-- <a href="#" class="badge badge-secondary">Installation</a>
                      <a href="#" class="badge badge-secondary">Manual</a>
                      <a href="#" class="badge badge-secondary">Memories</a>
                      <a href="#" class="badge badge-secondary">USB</a>
                      <a href="#" class="badge badge-secondary">Cloud</a>
                      <a href="#" class="badge badge-secondary">Downloading</a>
                      <a href="#" class="badge badge-secondary">Setup</a>
                      <a href="#" class="badge badge-secondary">Hard Drive</a> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
     
