
       
          <div class="row">
            <div class="col-md-4 col-lg-12 container">
              <div class="panel-group" id="accordion3">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <label data-toggle="collapse" data-parent="#accordion3">
                        Most Popular Tags
                      </label>
                    </h4>
                  </div>
                  <div id="popularTags" class="panel-collapse collapse in">
                    <div  *ngFor= "let d of data">    
                       <a href="#" class="badge badge-secondary">{{d.articleTag}}</a>                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
     
